.flagContainer {
	display: flex;
	gap: 3rem;

	.flag {
		height: 15rem;
		opacity: 0.85;
		transition: all 0.2s ease-in-out;

		img {
			z-index: 100;
			width: inherit;
			height: inherit;
		}
	}

	.flag:hover {
		opacity: 1.5 !important;
		transform: scale(1.05);
		cursor: pointer;
	}
}
