@import './color.scss';

.chat {
	display: flex;
	position: absolute;
	bottom: 4.5rem;
	width: 80rem;
	height: 7rem;
	padding: 0 3rem;
	align-items: center;
	border-radius: 2rem;
	gap: 2rem;

	input {
		width: 100%;
		font-weight: 600;
		font-size: 2.5rem;
		padding: 1rem 0;
		background-color: transparent;
		border: none;
	}
	input::placeholder {
		color: #fff;
		opacity: 0.5;
	}
}

.chat.p1 {
	background-color: $green2;
}
.chat.p2 {
	background-color: $sky2;
}
.chat.p3 {
	background-color: $blue2;
}
.chat.p4 {
	background-color: $red2;
}
