.container {
	position: absolute;
	bottom: 6rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 4.5rem;

	.arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10rem;
		height: 10rem;
		border: 5px dashed black;
		border-radius: 50%;
		cursor: pointer;
	}
}

$speed: 0.8s;
.next:hover {
	animation: next $speed infinite;
}
.prev:hover {
	animation: left $speed infinite;
}

@keyframes next {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(0.8rem);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes left {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-0.8rem);
	}
	100% {
		transform: translateX(0);
	}
}
